<div class="container">
  <h1 class="text-center">Pizza Ordering System</h1>

  <table class="pizza-table">
    <thead>
      <tr>
        <th></th>
        <th colspan="4">Pizzas</th>
      </tr>
      <tr>
        <th></th>
        <th>Small ($5)</th>
        <th>Medium ($7)</th>
        <th>Large ($8)</th>
        <th>Extra Large ($9)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5"><h5>Veg Toppings</h5></td>
      </tr>
      <tr *ngFor="let topping of vegToppings">
        <td>{{topping.name}}</td>
        <td *ngFor="let size of ['Small', 'Medium', 'Large', 'Extra Large']">
          <input type="checkbox" [id]="topping.name + size" 
                 [checked]="checkedToppings[size][topping.name]" 
                 (change)="toggleTopping(size, topping)">
        </td>
      </tr>
      <tr>
        <td colspan="5"><h5>Non Veg Toppings</h5></td>
      </tr>
      <tr *ngFor="let topping of nonVegToppings">
        <td>{{topping.name}}</td>
        <td *ngFor="let size of ['Small', 'Medium', 'Large', 'Extra Large']">
          <input type="checkbox" [id]="topping.name + size" 
                 [checked]="checkedToppings[size][topping.name]" 
                 (change)="toggleTopping(size, topping)">
        </td>
      </tr>
      <tr>
        <td colspan="5" class="text-right">
          <button class="btn btn-primary" (click)="addToOrder()">Add to Order</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Order Summary</h2>
  <table class="order-summary">
    <thead>
      <tr>
        <th>Pizza Size</th>
        <th>Toppings</th>
        <th>Total Price</th>
        <th>Offer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.size}}</td>
        <td>
          <span *ngFor="let topping of order.toppings; let last = last">
            {{topping.name}}{{last ? '' : ', '}}
          </span>
        </td>
        <td>{{order.total | currency}}</td>
        <td>{{order.offer}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="text-right"><strong>Grand Total:</strong></td>
        <td colspan="2"><strong>{{grandTotal | currency}}</strong></td>
      </tr>
    </tfoot>
  </table>
</div>